page-tab11 {

  .toolbar-background-md {
    border-color: #239992;
    background: #239a93;
    border-bottom: 0 solid;
}


.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #f4f4f4;
  background-color: transparent;
}

.toolbar-background {

    background: #239a93;
}



.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
}

.img1{
    padding-top: 12%;
    height: 30vh;
    width: auto;
    margin: auto;
    display: block;
  }

  .card-header-md {
    font-size: 2.2rem;
    /* color: #222; */
    padding: 16px;
}

  .toolbar-background-md {
    border-color:  #239992;
    background:  #239992;
}

.toolbar-background-md {
  border-color: #239992;
  background: #239a93;
  border-bottom: 0 solid;
}

 

 


 .masters {
  background-color:#EFF1F2;
}
 
}

   
     